<form [formGroup]="contactForm" (ngSubmit)="addContact()">
  <mat-form-field class="full-width">
    <input matInput placeholder="First Name" id="firstname" formControlName="firstname">
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput placeholder="Surname" id="surname" formControlName="surname">
  </mat-form-field>

  <mat-form-field class="full-width">
    <input matInput placeholder="Number" id="number" formControlName="number">
  </mat-form-field>

  <button type="submit" mat-raised-button color="accent" [disabled]="!contactForm.valid">Submit</button>
</form>
<Br>
<div class="button-row">
  <button mat-raised-button color="primary" (click)="backToContactsList()">Back</button>
</div>

